.container {
    position: relative;
    text-align: center;
    color: white;
    
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .banner{

  width:100%;
  background-size: 100% 75%;
  
  }
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 75%;
    left: 27%;
    transform: translate(-6%, -50%);
    width: 50%;
}